name: Go

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.16

    - name: Get Actor Email
      id: get-email
      uses: actions/github-script@v3
      with:
        github-token: ${{ secrets.ORG_DEPLOY_TOKEN }}
        result-encoding: string
        script: |
          const { data } = await github.users.getByUsername({
            username: context.actor,
          })
          console.log(`data.email: ${data.email}`)
          return data.email

    - name: Compare Email
      env:
        ACTOR_EMAIL: ${{ steps.get-email.outputs.result }}
        PUSHER_EMAIL: ${{ github.event.pusher.email }}
      run: |
        echo "ACTOR_EMAIL: ${ACTOR_EMAIL}"
        echo "PUSHER_EMAIL: ${PUSHER_EMAIL}"

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v ./...
